


.svgIcon{
	max-width:70%;
	max-height:70%;
	width: 70%;
	margin-bottom: 1em;
}

.tblGroups tr{
	padding-top: 1em;
}

.statusLabel{
	color: red;
	
}


nav{
	margin-bottom: 2%;
}

.bg-navbar{
	background-color: #395d73;
}

.nav-link, .navbar-brand{
	color: #ddd !important;
	font-weight: bold;
}

.nav-link:hover{
	text-decoration: underline;
}

#logoName{
    font-family: 'Rokkitt', serif;
    font-size: 1.3em;
}

#logoName::first-letter{
	background-color: #c51d1d;
	color:#ddd;
	font-size: 150%;
	padding-right: 10px;
	padding-left: 10px;
}


.page-item.active .page-link {
    background-color: #395d73;
    border-color: #385d73;
}

.page-link{
	font-weight: 600;
	font-size: 1em;
}